<div class="topbar navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
	<div class="container-fluid">
	    <a href="#/" class="eos-nav-button brand"><%= site_title %></a>
	    <% if ( user ) { %>
		<ul class="nav">
		    <% _.each( menus, function( menu ){ %>
			<% if ( !menu.ref.hidden || menu.ref.hidden == false ) { %>
			    <li disabled="disabled"><a href="#/<%= menu.label %>" class="eos-nav-button"><i class="<%= menu.icon %>"></i><%= CapFirstLetter(menu.label) %></a></li>
			<% } %>
		    <% }) %>
		</ul>
		<ul class="nav pull-right">
		    <li class="dropdown pull-right" style="display: block; width: 160px;">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			    <% if (user.gravatarUrl && user.gravatarUrl.length > 0) { %>
				<img src="<%= user.gravatarUrl %>?s=20">
			    <% } %><%= user.fullname %><b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
			    <li><a href="#/settings" class="eos-nav-button">Account Settings</a></li>
			    <li><a href="#/logout" class="eos-nav-button">Logout</a></li>
			</ul>
		    </li>
		</ul>
	    <% } %>
	</div>
    </div>
</div>

