<div class="row" ng-show="user">

  <div class="span4">
    <div class="form-signin">
      <form name="adduserdialog" novalidate ng-submit="AddUser()">
          <input name="username" type="text" placeholder="Username" ng-pattern="/^\w*[^ ]$/" ng-model="username" required>
          <div class="nitpick" ng-class="(adduserdialog.username.$viewValue.length && adduserdialog.username.$invalid) && 'makemevisible'">
  	  Need one word, at most 32 characters
          </div>
        <input type="submit" class="btn btn-primary" ng-disabled="adduserdialog.$invalid" value="Add new user">
      </form>
    </div>
  </div>

  <div class="span8">
    <div class="form-signin">
      <h4> Current users: </h4>
      <form novalidate ng-show="managedusers.length">
        <table class="table table-striped table-bordered manage">
          <tr> 
            <th> User </th>
            <th> Authorization code </th>
            <th class="selectit"> Delete
	    	 <label class="checkbox"> 
	    		{{allselected && "Unselect" || "Select"}} all <input class="btn" ng-change="UserSelected (false, allselected)" ng-model="allselected" type="checkbox"> 
		 </label>
	    </th>
          </tr>
          <tr ng-repeat="u in managedusers">
            <td> {{u.username}} ({{u.fullname}}) </td>
            <td> {{u.authcode}} </td> 
            <td class="selectit"> <input type="checkbox" ng-change="UserSelected(true, u.mustact)" ng-model="u.mustact" ng-checked="u.mustact"> </td>
          </tr>
        </table>
        <input type="submit" class="btn btn-primary" ng-click="DeleteUser()" ng-disabled="numuserstoactupon==0" value="Delete user">
        <input type="submit" class="btn btn-primary" ng-click="RegenerateAuthCode()" ng-disabled="numuserstoactupon==0" value="Regenerate Auth Code">
      </form>
      <div ng-show="managedusers.length==0">
        There are no users to administer right now. Try adding users to your cluster.
      </div>
    </div>
  </div>

</div>
